.github/**
.vscode/**
!images/icon.png
images/**
node_modules/**
src/**
test/**
*.map
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.gitignore-revs
.prettierignore
.prettierrc
.yarnrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
tsconfig.json
webpack.config.js
yarn.lock
